.menu_link {
    width: 100%;
    border: none;
 }
 .menu_link tr th {
    border: none;
 }
 .link{
    font-family: cursive;
    width: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.home {
    border:2px solid rgb(8, 201, 255);
    background-color: rgb(183, 240, 248);
    width: 605px;
    height:350px;
}
.home1 img {
    width: 600px;
    height: 350px;
}
