.menu_link {
    width: 100%;
    border: none;
 }
 .menu_link tr th {
    border: none;
 }
 .link{
    font-family: cursive;
    width: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}